// sidebar
$menuText: #435a64;
$menuActiveText: #0a35e0;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: rgba(188, 215, 248, 0.62);
$menuHover: #5a9ef3;
$subMenuBg: #accff8;
$subMenuHover:#001528;

$sideBarWidth: 140px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
